html,
body {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

body {
  /*display: -ms-flexbox;*/
  /*display: -webkit-box;*/
  /*display: flex;*/
  /*-ms-flex-align: center;*/
  /*-ms-flex-pack: center;*/
  /*-webkit-box-align: center;*/
  /*align-items: center;*/
  /*-webkit-box-pack: center;*/
  /*justify-content: center;*/
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("https://images4.alphacoders.com/821/thumb-1920-82148.jpg");
  background-attachment: fixed;
}


.login-background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('https://images4.alphacoders.com/688/thumb-1920-688418.png');
  background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.login-content:before {
  content: "";
  position: fixed;
  z-index: -1;
  
  display: block;
  background-image: url('https://images4.alphacoders.com/688/thumb-1920-688418.png');
  background-size: cover;
  width: 300px;
  height: 300px;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.login-content {
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.form-signin {
  width: 100%;
  /*max-width: 330px; */
  max-width: 500px; 

  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 20px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 991.98px) {
  .align-self-end {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

}

.white-bg {
  background-color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-firefox {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.login-box {
  margin: 15px;
  background-color: #f8f9fa;
}

.navbar-light .navbar-nav .nav-link  {
  text-align: center;
  color: #007bff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link  {
  color: white;
  text-align: center;
}

.subtitle {
  font-size: x-small;
}